
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header style="height:200px; background-color:wheat;">
        <h2>This is new header</h2>

    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="height:200px; background-color:rebeccapurple;">
        <h2>This is new footer</h2>

    </footer>
</body>
</html>
